.password-email-sender h2 {
    color: #007bff;
}

.password-email-sender {
    text-align: center;
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .password-email-sender input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-email-sender button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .password-email-sender button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .password-email-sender p {
    margin-top: 10px;
    color: green;
  }
  