.society-card-container {
    height: 200px;
    width: 100%;
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 4px 8px rgba(107, 135, 243, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 30px;
    cursor: pointer;
}

.flip-card:hover {
    box-shadow: 0 8px 16px rgba(107, 135, 243, 0.2);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.flip-card-front {
    background-color: #8aa2ff;
}

.flip-card-back {
    background-color: #f8f9ff;
    transform: rotateY(180deg);
    color: #333;
}

.logo {
    width: 60%;
    height: 60%;
    background-color: #6B87F3;
    border-radius: 50%;
    margin-bottom: 15px;
    max-width: 100px;
    max-height: 100px;
}

.title {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-transform: capitalize;
    word-wrap: break-word;
    width: 90%;
    overflow-wrap: break-word;
    line-height: 1.2;
    color: #fff;
}

.description-text {
    width: 90%;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    text-align: center;
    overflow-y: auto;
    line-height: 1.3;
    padding: 5px;
    color: #333;
}

@media screen and (max-width: 900px) {
    .society-card-container {
        height: 180px;
    }
}

@media screen and (max-width: 600px) {
    .society-card-container {
        height: 170px;
    }
}