.society-item {
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
    color: #6B87F3;
    text-align: center;
    transition: all 0.2s ease;
    border: none;
}

.society-item:hover {
    background-color: #6B87F3;
    color: white;
    transform: translateX(5px);
}