* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body, html {
    background: rgb(245, 245, 245);
    color: white;
    scroll-behavior: smooth;
}